.env
*.key.pem

**/in/archives/*
**/in/archive_manifests/*
**/in/archives_related/*
**/in/archive_manifests_related/*
**/in/archives_caption/*
**/in/archive_manifests_caption/*
**/in/c2pa_thumbs/*
**/in/zk_redacted/*
**/in/c2pa_publish/*
**/in/c2pa_publish/*
**/out/c2pa_1_src/*
**/out/c2pa_1_out/*
**/out/c2pa_2_zk_src/*
**/out/c2pa_2_zk_out/*
**/out/layer3_out/*

!**/in/archives/.keep
!**/in/archive_manifests/.keep
!**/in/archives_related/.keep
!**/in/archive_manifests_related/.keep
!**/in/archives_caption/.keep
!**/in/archive_manifests_caption/.keep
!**/in/c2pa_thumbs/.keep
!**/in/zk_redacted/.keep
!**/in/c2pa_publish/.keep
!**/in/c2pa_publish/.keep
!**/out/c2pa_1_src/.keep
!**/out/c2pa_1_out/.keep
!**/out/c2pa_2_zk_src/.keep
!**/out/c2pa_2_zk_out/.keep
!**/out/layer3_out/.keep